
  <div class="row">
    <div class="span5 offset1">
      Nazwa
      <%= firm.name %>  
    </div>
  <div class="span5">
      Adres
      <% if !firm.current_address.nil? %>
        <%= firm.current_address.address %>  
      <% end %>
    <!-- < f.text_field :current_address %> -->
    </div>
  </div>

  <div class="row">
    <div class="span5 offset1">
      WWW
    <%= firm.www %>  
    </div>
  <div class="span5">
      Email
    <%= firm.email %>
    </div>
  </div>

