<% provide(:title, 'Kontakt eMagazyn') %>

<br />
<div class="hero-unit">
    
  <h1>Kontakt</h4>
  <hr />
     
     
    <address><p>
    	Witaj, możesz napisać do nas na adres <a href="mailto:#">kontakt@emagazyn.biz</a> <br />
    	Wszystkie uwagi będą mile widziane.
    	<strong>Pozdrawiamy qlikLab</strong>
    </address></p>

</div>
