<% provide(:title, 'Pomoc eMagazynier') %>

<br />
<div class="hero-unit">
    
  <h1>Pomoc</h1>
  <hr />
	<pre>
	Jeśli potrzebujesz nowych funkcjonalności, znalazłeś błędy lub potrzebujesz pomocy napisz do nas.<br />
	Pracę nad aplikacją rozpoczeły się niedawno, jednak intensywnie się toczą. Programujesz i też chcesz rozwijać aplikację? Skontaktuj się z nami.
	</pre>
</div>
