
<h1>EMagazynier App</h1>

<p>
	<ul>EMagazynier to prosta aplikacja napisana z myślą o użytkownikach:
	<li>prosta funkcjonalność i obsługa magazynu użytkownika</li>
	<li>proste sposób ewidencjonowania przychodu rozchodu</li>
	<li>automatyzacja obrotu artykułami pomiędzy użytkownikami za pomocą systemu zleceń elektronicznych</li>
	</ul>
</p>
