<% provide(:title, 'EMagazynier App') %>

<br />
<div class="hero-unit">
	
	<legend><h4>Prosta aplikacja magazynowa* dla małych firm:</h4></legend>
		<ul>
			<li>łatwe dodawanie artykułów do magazynu, kontrola stanu za pomocą systemu powiadamiania</li>
			<li>publikacja wybranych artykułów na swojej stronie przez pomocy jedno przycisku </li>
			<li>łatwy sposób ewidencjonowania przychodu rozchodu za pomocą elektronicznych dokumentów magazynowych</li>
			<li>obecnie na etapie rozwoju są: publiczny system składania zleceń magazynowych oraz automatyzacja obrotu artykułami pomiędzy użytkownikami serwisu</li>
		</ul>
	<p>
		*oraz mini sklep internetowy
	</p>


	<br/>
	<div class="center">
	<%= link_to "masz firmę, potrzebujesz magazynu? zarejestruj się teraz!", rejestracja_path, class: "btn btn-large btn-primary" %>
	<div>

	<br />
	<pre>
	Jeśli potrzebujesz nowych funkcjonalności, znalazłeś błędy lub potrzebujesz pomocy napisz do nas.<br />
	Pracę nad aplikacją rozpoczeły się niedawno, jednak intensywnie się toczą. Programujesz i też chcesz rozwijać aplikację? Skontaktuj się z nami.
	</pre>
</div>
