<% provide(:title, 'Aplikacja eMagazyn') %>

<br />
<div class="hero-unit">
	
	<h1>Aplikacja przeznaczona dla firm usługowych i handlowych prowadzących gospodarkę magazynową*</h1>
	<hr />
		<ul>
			<li>łatwe dodawanie artykułów do magazynu, kontrola stanu za pomocą systemu powiadamiania</li>
			<li>publikacja wybranych artykułów na swojej stronie przez pomocy jedno przycisku </li>
			<li>łatwy sposób ewidencjonowania przychodu rozchodu za pomocą elektronicznych dokumentów magazynowych</li>
			<li>obecnie na etapie rozwoju są: publiczny system składania zleceń magazynowych oraz automatyzacja obrotu artykułami pomiędzy użytkownikami serwisu</li>
		</ul>
	<p>
		*z funkcjonalnością sklepu
	</p>


	<br/>
	<div class="center">
	<%= link_to "masz firmę, potrzebujesz magazynu? zarejestruj się teraz!", rejestracja_path, class: "btn btn-large btn-primary" %>
	<div>


</div>
