<div class="hero-unit">
	<!-- <h1 class="center">EMagazynier App</h1> -->
	
		<ul><h4>EMagazynier to prosta aplikacja napisana z myślą o użytkownikach:</h4>
			<li>prosta funkcjonalność i obsługa magazynu użytkownika</li>
			<li>proste sposób ewidencjonowania przychodu rozchodu</li>
			<li>automatyzacja obrotu artykułami pomiędzy użytkownikami za pomocą systemu zleceń elektronicznych</li>
		</ul>

	<br/>
	<div class="center">
	<%= link_to "Zarejestruj się!", rejestracja_path, class: "btn btn-large btn-primary" %>
	<div>
</div>
