<% provide(:title, 'Jak działa eMagazyn') %>

<br />
<div class="hero-unit">
    
  <h1>Jak działa eMagazyn</h1>
  <hr />
  <p>
  	<ol>
  	<li>zarejestruj się w serwisie, odbierz email i ustaw hasło</li>
  	<li>zaloguj się do naszego serwisu, ustaw swoje dane oraz wprowadź kontrahentów</li>
  	<li>dodaj artykuły do swojego magazynu</li>
  	<li>następnie przy pomocy dokumentów magazynowych dodawaj (przychód) i zdejmuj (rozchód) artykuły ze stanu magazynowego</li>
  	<li>system bazując na dokumentach będzie podpowiadał Ci ceny oraz pamiętał stan magazynowy artykułów</li>
  	<li>serwis automatycznie również wygeneruje Twój minisklep oraz umożliwi innym zakupy Twoich artukułów</li>
  	<li>na co dzień korzystaj z raportów dziennych, zestawień sumarycznych, wykonaj remanent na koniec okresu i wielu na bieżąco rozwijanych funkcji...</li>
  	</p>

</div>
