<% provide(:title, 'Cennik eMagazynier') %>

<br />
<div class="hero-unit">
		
	<h1>Cennik</h1>
	<hr />
	<p>
		<ul>W odróżnieniu od aplikacji innych producentów:
		<li>dostęp do serwisu jest darmowy</li>
		<li>usługa jest dostępny z wielu miejsc jednocześnie</li>
		<li>nie wymaga opłat za każde dodatkowe stanowisko</li>
		<br />Utrzymujemy się z reklam, niedostępnych w wersji z opłatą.
		Jeśli jesteś zainteresowany wersją płatną i jej możliwościami skorzystaj z kontaku z nami.
		</ul>

	</p>

</div>
