<% provide(:title, 'Cennik eMagazyn') %>

<br />
<div class="hero-unit">
		
	<h1>Cennik</h1>
	<hr />
	<p>
		<ul>W odróżnieniu od innych aplikacji:
		<li>dostęp do wersji rozwojowej serwisu jest darmowy</li>
		<li>usługa jest dostępny z wielu miejsc jednocześnie</li>
		<li>nie wymaga opłat za każde dodatkowe stanowisko</li>
		<br />Utrzymujemy się z reklam, niedostępnych w wersji z opłatą.
		<br />Oferujemy również wsparcie w zakresie wdrożenia i pracy z aplikacją.
		Jeśli jesteś zainteresowany wersją płatną oraz wsparciem skorzystaj z kontaku z nami.
		</ul>

	</p>

</div>
