<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Witaj w serwisie eMagazynier (https://emagazynier.herokuapp.com)</h4>
    <p>
      Pomyślnie zarejestrowałeś się w aplikacji.*
      Twój login: <%= @user.email %>.<br/>
      Twoje hasło: podasz w trakcie aktywacji konta
    </p>
    <p>
      Aby aktywować swoją rejestracje odwiedź podany link:<br />
      <%= @url %>.
    </p>
    <p>Dziękuję za skorzystanie z serwisu. Udanego dnia!</p>
    <p>
    <br /><br /><br /><br />*jeśli nie zakładałeś konta w serwisie, proszę zignoruj tą wiadomość
   </p>
  </body>
</html>


