<% provide(:title, 'Edycja cen artykułu:' + @product.name) %>
<br />

  <div class="row-fluid">
        <div class="span10 offset1">

      <h1>Edycja cen artykułu</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

<%= render 'form' %>



<!-- < link_to 'Show', @product_price %> | -->
<!-- < link_to 'Back', product_prices_path %> -->

          </div>
        </div>

</div></div>
