<% provide(:title, 'Użytkownicy serwisu eMagazyn') %>
<br />

<div class="hero-unit">
	<div class="row-fluid">
		<div class="span7 offset2">
			
			<h1>Użytkownicy serwisu eMagazyn</h1>
			<hr />

			<div class="pull-right">
	<%= will_paginate_with_i18n @users %>
</div><br/><br/>

			<ul class="users">
				 <% @users.each do |user| %>
					<!-- <li>
						< gravatar_for user, size: 52 %>
						< link_to user.name, user %>
					</li> -->
					<!-- dodajemy formularz częściowy _user.html.erb i podajemy zmienną -->
					<!-- Here we call render not on a string with the name of a partial, but rather on a uservariable of class User in this context -->
					<%= render user %>
					<!-- drugi sposób można zastąpić cały blok składnią < render @users %> -->
				<% end %>
			</ul>



		</div>
	</div>
</div>