<% provide(:title, @user.name) %>

<hr>
<aside>
	<section>
		<h1>
			<%= gravatar_for @user %>
			<h4><%= @user.name %>!</h4>
			Twój magazyn obecnie posiada:      artykuły.
		</h1>
	</section>
</aside>
<hr>

<div class="hero-unit">

	...w trakcie budowy...

</div>