  <div class="row-fluid">
      <div class="span6 offset3">

      <h1>Nowe zamówienie</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>