<% provide(:title, 'Tworzenie dokumentu magazynowego') %>
<br />

  <div class="row-fluid">
        <div class="span10 offset1">

      <h1>Tworzenie dokumentu magazynowego</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>
