
    <br />

  <div class="row-fluid">
        <div class="span10 offset1">

        <legend>Dokumenty</legend>
        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>
