  <div class="row-fluid">
      <div class="span8 offset2">

        <legend>Nowy dokument magazynowy</legend>
        <div class="well sidebar-nav">
          <div class="field center">


<%= render 'form' %>

</div>
</div>
</div>
</div>

<!-- < link_to 'Back', documents_path %> -->
