@import "bootstrap";

/* universal */
html {
 overflow-y: scroll;
}

body {
 padding-top: 60px;
 padding-bottom: 40px;
}

  a.btn:link { color:#FFFFFF !important; }    /* unvisited link */
  a.btn:visited {color:#FFFFFF !important; } /* visited link */
  a.btn:hover {color:#FFFFFF !important; }   /* mouse over link */
  a.btn:active {color:#FFFFFF !important; }  /* selected link */

// modal
    .modal {
        //max-height: 400px;
        width: 780px;
        margin-left: -390px; /* - width/2 */
        margin-top: -220px; /* - width/2 */
        //margin: -390px 0 0 -3900px; /* PLAY THE WITH THE VALUES TO SEE GET THE DESIRED EFFECT */
    }

/* utworz dokument */
  //a.btn-link:link { color:#000000 !important; }    /* unvisited link */
  #stworz { color:#000000 !important; }    /* unvisited link */

.nav-list {
 padding: 9px 0;
}

section {
 overflow: auto;
}

/* horizontal too
textarea {
 resize: vertical;
}
*/

/* typography */
h1, h2, h3, h4, h5, h6 {
 line-height: 1;
}

h1 {
 font-size: 3em;
 letter-spacing: -2px;
 margin-bottom: 30px;
 text-align: center;
}

h2 {
 font-size: 1.7em;
 letter-spacing: -1px;
 margin-bottom: 30px;
 text-align: center;
 font-weight: normal;
 color: #999;
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

/* Nesting */
.center {
 text-align: center;
 
 h1 {
  margin-bottom: 10px;
 }
} 

/* header */
//my varible
$myLightGray: #999;

#logo {
 float: left;
 margin-right: 10px;
 font-size: 1.4em;
 color: $myLightGray;
// text-transform: uppercase;
 letter-spacing: -1px;
 padding-top: 10px;
 font-weight: bold;
 line-height: 1;

 &:hover {
  color: #000;
  text-decoration: none;
 }
}

/*
ul {
 float: right;
 list-style: none;
  
 li {
  float: left;
  margin-left: 10px;
 }
}
*/
/* Nesting end */

/* footer */
#rails_image {
	height:15px;
	width:15px;
}

/* debug css style */
$grayMediumLight: #eaeaea;

//sass mixin
@mixin box_sizing {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.debug dump {
 clear: both;
 float: left;
 width: 100%;
 margin-top: 45px;
 @include box_sizing;	//dodajemy mixin
}

/* sidebar */
aside {
 section {
  padding: 10px 0;
  border-top: 1px solid $grayLighter;
   &:first-child {
    border: 0;
    padding-top: 0;
   }
  span {
   display: block;
   margin-bottom: 3px;
   line-height: 1;
  }
  h1 {
   font-size: 1.6em;
   text-align: left;
   letter-spacing: -1px;
   margin-bottom: 3px;
  }
 }
}

.gravatar {
 float: left;
 margin-right: 10px;
}

/* forms - usuniety input */
textarea, .uneditable-input {
 border: 1px solid #bbb;
// width: 100%;
 padding: 10px;
 height: auto;
 margin-bottom: 15px;
 // @include box-sizing;
}

#error_explanation {
  color: #f00;
  ul {
   list-style: none;
  margin: 0 0 18px 0;
  }
}
.field_with_errors {
@extend .control-group;
@extend .error;
}

/* users index */
.users {
 list-style: none;
 margin: 0;
 li {
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid $grayLighter;
  &:last-child {
  border-bottom: 1px solid $grayLighter;
  }
 }
}

/* products */
.products {
 list-style: none;
 margin: 10px 0 0 0;
 li {
  padding-left: 20px 0;
  border-top: 1px solid #e8e8e8;
 }
}

.content {
 display: block;
}

.timestamp {
 color: $grayLight;
}

aside {
 textarea {
  height: 100px;
  margin-bottom: 5px;
 }
}

legend {
  text-align: left;
}

.modal-body {
  overflow-y: auto;
  /*max-height: 400px;*/
  padding: 15px;
}