<% provide(:title, 'Ustawienia artykułów:' + @current_user.name) %>
<br />

  <div class="row-fluid">
        <div class="span10 offset1">

      <h1>Ustawienia artykułów</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

              <%= render 'form' %> 
          </div>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid"> -->
  <div class="row-fluid">
        <div class="span10 offset1">

<div class="pull-right">
    <%= will_paginate_with_i18n @products %>
</div>

              <% if @products.any? %>
      <table class="table table-striped">

                    <thead>
                        <tr>
                            <th class="span1">Pozycja</th>
                            <th class="span2">Nazwa artykułu</th>
                            <th class="span2">Opis</th>
                            <th class="span1">Aktualizacja</th>
                            <th class="span1">Ilość</th>
                            <th class="span1">Zakup netto</th>
                            <th class="span1">Zakup brutto</th>
                            <th class="span1">Sprzedaż netto</th>
                            <th class="span1">Sprzedaż brutto</th>
                            <% if signed_in? %>
                                <th class="span1"></th>
                            <% else %>
                                <th class="span1"></th>
                            <% end %>
                        </tr>
                    </thead>

                        <tbody>
                        <% if params[:page].nil? %>
                            <% @licznik = 0 %>
                        <% else %>
                            <% @licznik = (params[:page].to_i * 30) - 30 %>
                        <% end %>

                        <%= render @products %>


                    </tbody>

        </table>



        <% else %>
                <div class="center">
                  <br />
                  Brak artykułów.
                  <br />
                </div>
              <% end %>

</div>
</div>















