<% provide(:title, 'Edycja adres贸w kontrahent贸w:' + @current_user.name) %>
<br />
    

  <div class="row-fluid">
      <div class="span6 offset3">


      <h1>Edycja adres贸w kontrahent贸w</h1>
      <hr />

        <div class="well sidebar-nav">
          <div class="field center">

<%= render 'form' %>


</div>
</div>
</div>
</div>
