  <div class="row-fluid">
      <div class="span6 offset3">

        <legend>Edycja adresu</legend>
        <div class="well sidebar-nav">
          <div class="field center">

<%= render 'form' %>


</div>
</div>
</div>
</div>
